@mixin size($height, $width) {
    width: $width;
    height: $height;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: rgba($color: #000, $alpha: .2);
}

mat-card {
    height: 100%;
}

mat-card-title {
    text-align: center;    
    padding: .5em 0;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
}

mat-card-content{
    height: 75%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    height: 100%;
}

mat-form-field {
    width: 95%;
    margin: 1em 0;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    color: blue;
    padding: .1em;
    
}
button {
    padding: 0.2em 0.5em;
}

@media (max-width: 449px){
    .container {
        @include size(100vh, 100vw);    
        transition: 500ms;   
    }
    button{
        width: 110%;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 450px){
    .container {
        @include size(100vh, 100vw);    
        transition: 500ms;   
    }
    button{
        width: 60%;
    }
}

@media (min-width: 601px){
    .container {
        position: absolute;
        top: 2.5%;
        @include size(90vh, 75vw);
        transition: 500ms;
    }
    button{
        width: 60%;
    }
    .links{
        margin-top: .5em;
    }
}
@media (min-width: 751px){
    .container {
        position: absolute;
        top: 2.5%;
        @include size(90vh, 55vw);
        transition: 500ms;
    }
    button {
        width: 90%;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1000px){
    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include size(80vh, 40vw);
        transition: 500ms;
    }
    .links{
        display: flex;
        flex-direction: row;
    }
}